body {
    background-color: rgb(233, 214, 214);
}
h1 {
    background-color: burlywood;
    color: darkblue;
    font-size: 50px

}
h2 {
    background-color: darkkhaki;
    color: darkred;
}
meta2 {
    font-size: 40;
}